<link rel="stylesheet" href="../public/css/styles.css">
<div class="header">
    <h1 class="title">{{title}}</h1>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/weather">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</div>